/**
 * $ENTRY
 * ==========================================================================
 */


 .entry{
 	// background: url('../img/template-entry.jpg') no-repeat;
 
 	.header{
 		margin: 0;
 	}

 	.page-core{
 		height: 1015px;
 	}

 	.page-core{ margin: 0; }

 	h2{
 		color: black;
 		font-size: 18px;
 		margin: 0 auto;
 		padding: 0;
 		font-weight: normal;
 		text-align: center;
 	}

 	.fields-ctnr{
 		input[type=text]{
 			border: none;
 			width: 577px;
 			height: 69px;
 			display: block;
 			text-align: center;
 			font-size: 26px;
 			font-weight: bold;
 			margin: 20px auto;
 			background-color: transparent;
 			background-image: url('../img/field-bg.png');
 			background-repeat: no-repeat;
 		}

 		input:first-child{
 			margin-top: 0px;
 		}
 	}

 	.rule{
 		height: 2px;
 		background-image: url('../img/hr-dash.png');
 		bacgkground-repat: repeat-x;
 		width: 580px;
 		margin: 0 auto;
 	}

 	.citation{
 		color: white;
 		text-align: center;
 	}

 	.footer{
 		height: auto;
 	}






 }

